/* Required height of parents of the Full Page Intro and Intro itself */

.blog .view{
    height: auto !important;
}

/* Body Starts*/
.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
    border-radius: 3px;
}

/* Body Ends */
.card-comments img {
    width: 4rem; }
/* Navbar animation */
.navbar p{
    margin-bottom: 0 !important;
}
.navbar {
    background-color: transparent; }

.scrolling-navbar {
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1c2331;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}

.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
    border-radius: 3px;
}


/* Carousel*/
/* Half Page Carousel itself*/
/* Half Page Carousel itself*/
.carousel {
    height: 80%; }
    .carousel .carousel-inner {
        height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
        height: 100%; }
#carousel-example-1 .carousel-item:nth-child(1) {
    background-image: url("../img/carousel/slider-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#carousel-example-1 .carousel-item:nth-child(2) {
    background-image: url("../img/carousel/slider-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#carousel-example-1 .carousel-item:nth-child(3) {
    background-image: url("../img/carousel/slider-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#carousel-example-1 .carousel-item:nth-child(4) {
    background-image: url("../img/carousel/slider-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/* Adjustment for mobile devices*/
@media (max-width: 776px) {
    .carousel {
        height: 100%; } }
/* Carousel Ends */

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* body*/
#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

#time-counter {
  font-size: 5rem; }
